<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <h1>用户列表</h1>
    <span sec:authorize="hasAuthority('userInfo/userAdd')"><a th:href="@{/user/add}">添加</a></span>
    <div>
        <table >
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>删除</th>
                <th>编辑</th>
            </tr>
            <!--/*@thymesVar id="users" type=""*/-->
            <tr th:each="user : ${users}">
                <td th:text="${user.uid}"></td>
                <td th:text="${user.username}"></td>
                <td><span sec:authorize="hasAuthority('userInfo/userDel')"><a th:href="@{/user/delete}">删除</a></span></td>
                <td><span sec:authorize="hasAuthority('userInfo/userEdit')"><a th:href="@{/user/edit}">编辑</a></span></td>
            </tr>
        </table>
    </div>

</body>
</html>