<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer text-right">
        2019 © <a th:href="@{https://github.com/Siwanper/SpringBoot/tree/master/springboot-blog}" target="_blank">Siwanper</a><div class=""></div>
    </footer>
</div>
<body th:fragment="footer">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/asset/js/metisMenu.min.js}"></script>
<script th:src="@{/asset/js/base.js}"></script>
</body>
</html>