<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title = '管理中心', active='home'">
<head th:replace="header :: headerFragment(${title},${active})"></head>

<body>

<div id="wrapper">
    <div th:replace="header :: headerBody"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="jumbotron">
                    <h1>欢迎登录管理系统</h1>
                    <p>管理系统基于bootstrap编写</p>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            通知栏
                        </div>
                        <div class="panel-body">
                            公司这周末加班，请注意
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            日志记录
                        </div>
                        <div class="panel-body">
                            今天编写了管理系统
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</div>

</body>

</html>